<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-7" style="margin:1%;">
            <h1 class="text-center">Create Assets</h1>
            <form action="/assets" method="POST">
                {{!-- <div class="form-group">
                    <input type="text" class="form-control" id="issuerPublicKey" required name="issuerPublicKey"
                        placeholder="Issuer Public Key" value="GDCXEIUEDZSU2GY4JOTS4EK6WEVCIB7FLMMPORVF6236P762NOQZTLVQ">
                </div> --}}
                <div class="form-group">
                    <input type="text" class="form-control" id="issuerSecret" required name="issuerSecret" placeholder="Issuer Secret"
                        value="">
                </div>
                {{!-- <div class="form-group">
                    <input type="text" class="form-control" id="receiverPublicKey" required name="receiverPublicKey"
                        placeholder="Issuer Public Key" value="GD67IEYDI6IPJDFAY5BO62CTBXKMNOC6ZXP5AEHPFNF77QWYUMQ7L2Z7">
                </div> --}}
                <div class="form-group">
                    <input type="text" class="form-control" id="receiverSecret" required name="receiverSecret"
                        placeholder="Receiver Secret" value="">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="assetName" min required name="assetName" placeholder="Asset Name"
                        value="">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" id="limit" required name="limit" placeholder="Asset Limit"
                        value="">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" id="amount" required name="amount" placeholder="Asset Balance"
                        value="">
                </div>
                <button type="submit" class="btn btn-warning btn-block">Transfer</button>
            </form>

            {{#if wallet_address}}
            <div class="card border-primary" style='margin-top:1%;'>
                <div class="card-body">
                    <a href="/balance?wallet={{wallet_address}}" class="href" target="_blank">
                        <p class="card-text text-center">Check Balance for new Asset</p>
                    </a>
                </div>
            </div>
            {{/if}}

            {{#if error}}
            <div class="card border-danger" style='margin-top:1%;'>
                <div class="card-body">
                    <p class="card-text text-center">
                        {{error}}
                    </p>
                </div>
            </div>
            {{/if}}

            {{#if success}}
            <div class="card border-success" style='margin-top:1%;'>
                <div class="card-body">
                    <p class="card-text text-center">
                        {{success}}
                    </p>
                </div>
            </div>
            {{/if}}
        </div>

        <script>
            var json = JSON.parse(document.getElementById('json').innerText);
        </script>