<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-7" style="margin:1%;">
            <h1 class="text-center">Transactions</h1>
            <form action="/transactions" method="GET">
                <div class="form-group">
                    <input type="text" class="form-control" id="txn" name="txn" aria-describedby="emailHelp" placeholder="">
                </div>
                <button type="submit" class="btn btn-warning btn-block">Check Transactions</button>
            </form>

            {{#if txns}}
                <div class="card-text json">
                <code id="json">{{toJSON txns}}</code>
                </div>
            {{/if}}
        </div>
        </div>
    </div>

    <script>
        if(localStorage.getItem('wallet')){
            document.getElementById('txn').value = JSON.parse(localStorage.getItem('wallet')).publicKey
        }
        else{
            document.getElementById('txn').setAttribute('placeholder','Wallet Public Address')
        }

        var json = JSON.parse(document.getElementById('json').innerText);

        $(function() {
            $('#json').JSONView(json);
        });
    </script>